<strong>Evento</strong>

<p>O usuário <strong>{{ username }}</strong> convidou você para o evento <strong>{{event.title}}</strong>.</p>

<p>Local: <strong>{{ event.where }}</strong></p>

<p>Dia / Horário: <strong>{{ event.when }}</strong></p>
