{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Agendamentos</strong>

    <div class="appointments">

    <p id="msg_nenhum_agendamento" style="{% if (appointments.length > 0) %}display:none;{% endif %}">Você não possui nenhum agendamento</p>

    {% for appointment in appointments %}
    <div class="appointment">
      <div>
        <img src="/files/{{ appointment.User.avatar }}">
        <div class="info">
          <strong>{{ appointment.date }} às {{ appointment.time }}</strong>
          <p>{{ appointment.User.name }}</p>
        </div>
      </div>
      <button class="remove-appointment" data-id="{{ appointment.id }}">-</button>
    </div>
    {% endfor %}

    </div>

    <div class="buttons-wrapper">
      <a href="/app/dashboard" class="back">Voltar</a>
    </div>

  </div>

  <script>
    function handleDeleteAppointment() {
      document.querySelector('.appointments').addEventListener('click', function(event) {

        if (event.target.className == "remove-appointment") {
          var id = event.target.getAttribute('data-id');

          fetch(`/app/appointments/${id}`, {
            method: 'DELETE'
          })
          .then(function(response) {
            return response.json();
          })
          .then(function(result) {

            if (result.status) {
              event.target.parentNode.remove()

              if (document.querySelectorAll('.appointment').length == 0) {
                document.querySelector('#msg_nenhum_agendamento').style = "";
              }

            }

          })
        }
      })
    }

    document.addEventListener('DOMContentLoaded', handleDeleteAppointment);
  </script>

{% endblock %}
